

header {
             background-color: #C4B7CB; padding: 20px
             
            }

            ul, li, a {
                list-style-type: none;
                text-decoration: none;
                font-family: sans-serif;
                display: inline;
            }

            a {
                background-color: black;
                color: white;
                padding: 5px;
                margin: 5px;
            }

            a:visited {
                color: white;
               
            }

            a:hover {
                color: yellow;
            }

            a:active{
                background-color: white;
                color:black;
            }

            aside {
              width: 30%;
              padding-left: 15px;
             margin-left: 15px;
             float: right;
             font-family: 'Courier New', Courier, monospace;
             background-color: beige;
            }
            .center {
         text-align: center;
         color: powderblue;
         }
